.snackbar {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px 18px;
  min-width: 280px;
  max-width: 420px;

  border-radius: 16px;
  color: #fff;

  font-weight: 500;
  letter-spacing: 0.3px;
  /* box-shadow: 0 8px 24px rgba(0,0,0,.25); */
  /* backdrop-filter: blur(12px); */
  /* animation: fadeSlideIn .25s ease-out; */
}

/* Icon */
.icon mat-icon {
  font-size: 22px;
}

/* Close Button */
.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  opacity: .7;
}

.close-btn:hover {
  opacity: 1;
}

/* Animation */
/* @keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(10px) scale(.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
} */

/* Types */
.success {
  background: linear-gradient(135deg, #00c853, #64dd17);
}

.error {
  background: linear-gradient(135deg, #ff5252, #ff1744);
}

.info {
  background: linear-gradient(135deg, #2979ff, #00b0ff);
}

.warning {
  background: linear-gradient(135deg, #ff9100, #ff6d00);
}
