.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px; /* YouTube thickness */
  background: #f3600a;
  overflow: hidden;
  z-index: 9999;
}

.loading-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  height: 100%;
  width: 50%;
  background: #ec4d03;
  animation: youtube-indeterminate 1.5s infinite ease-out;
}

@keyframes youtube-indeterminate {
  0% {
    left: -50%;
    width: 50%;
  }
  50% {
    left: 25%;
    width: 70%;
  }
  100% {
    left: 100%;
    width: 20%;
  }
}
