<app-auth-layout title="Sign Up">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="space-y-4">
    <app-auth-input label="Email" placeholder="Email" type="email" [control]="signupForm.controls['email']" />
    <app-auth-input label="Password" placeholder="Password" type="password"
      [control]="signupForm.controls['password']" />

    <app-auth-button [text]="'Get Started'" [onClick]="onSubmit"></app-auth-button>
  </form>

  <app-auth-separator></app-auth-separator>
  <app-auth-social-button iconUrl="icons/google.svg" text="Sign up with Google" [onClick]="signUpWithGoogle" />

  <app-auth-social-button iconUrl="icons/facebook.svg" text="Sign up with Facebook" [onClick]="signUpWithFacebook" />


  <div footer class="text-center text-sm mt-6">
    Already have an account?
    <a routerLink="/login" class="text-black font-bold underline cursor-pointer">Log in</a>
  </div>
</app-auth-layout>