<app-auth-layout title="Sign Up as Mess Owner">
    <form [formGroup]="signupForm" class="space-y-4">
        <app-auth-input label="Name" placeholder="Enter your name" type="text" [control]="signupForm.controls['username']" />
        <app-auth-input label="Email" placeholder="Enter your email" type="email" [control]="signupForm.controls['email']" />
        <app-auth-input label="Password" placeholder="Enter your password" type="password"
            [control]="signupForm.controls['password']" />

        <app-auth-button [text]="isLoading ? 'Signing up...' : 'Sign Up'" [onClick]="onSubmit.bind(this)"></app-auth-button>
    </form>

    <app-auth-separator></app-auth-separator>

    <div class="text-center text-sm mt-6">
        Already have an account?
        <a routerLink="/mess-owner/login"  class="text-black font-bold underline cursor-pointer">Log In Mess Owner</a>
    </div>
</app-auth-layout> 