<app-auth-layout title="Forgot Password">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <app-auth-input label="Email" placeholder="Enter Registered Email" type="email"
            [control]="forgotPasswordForm.controls['email']" />
            <app-auth-separator margin="mb-6"></app-auth-separator>
        <app-auth-input label="Phone Number" placeholder="Enter Registered Phone Number" type="tel"
            [control]="forgotPasswordForm.controls['phoneNumber']" />
        <app-auth-button routerLink="/sendOTP" [text]="'Send OTP'" [onClick]="onSubmit"></app-auth-button>
    </form>